 
[Unit]
Description=Virtual Machine #1: ports

[Service]
Type=simple
ExecStart=/bin/qemu-system-x86_64 -nodefaults -chardev socket,server,nowait,id=char0,path=<monitordir>/1 -mon chardev=char0,mode=control,pretty=on -machine accel=kvm -vga virtio -vnc 127.0.0.1:0,websocket=127.0.0.1:6001 -m 1024M -cpu kvm64 -smp cpus=1,cores=2,maxcpus=2 -nic user,hostfwd=tcp:localhost:1024-:1024,hostfwd=tcp:localhost:8080-:80 
ExecStop=<spin-qmp> shutdown /home/erikh/.config/spin/monitors/1
TimeoutStopSec=30
KillSignal=SIGCONT
FinalKillSignal=SIGKILL

[Install]
WantedBy=default.target
